version: '3.8'

services:
  web:
    image: satyampr01/smartparking:latest
    build: .
    container_name: smartparking_web
    command: gunicorn --bind 0.0.0.0:8000 --workers 3 SmartParking.wsgi:application
    volumes:
      - ./media:/app/media
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  nginx:
    image: nginx:alpine
    container_name: smartparking_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web
    restart: always

volumes:
  static_volume:
